
nav ul {

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin-right: 20px;
    flex-direction: column;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}